{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block header %}
  <div class="post-heading">
      <h1>{{post.title}}</h1>
      <!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
      <span class="meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.publish }}</span>
  </div>
{% endblock %}

{% block content %}
  {{ post.body|linebreaks }}

  <p>
    <a href="{% url "blog:post_share" post.id %}">
      Share this post
    </a>
  </p>
{% endblock %}
